@import '_setting.scss';

.board-content {
    display: flex;
    flex-flow: row nowrap;
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;

    &:after {
        content: '';
        flex: 0 0 $gap;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg;
        border-radius: 8px;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .add-new-column {
        width: 250px;
        height: 32px;
        line-height: 32px;
        padding: 0 0 4px 15px;
        cursor: pointer;
        color: #ffffff;
        margin-left: $gap;
        font-size: 15px;
        background-color: hsla(0, 0%, 100%, .24);
        border-radius: $column-border-radius;
        flex: 0 0 auto;

        &:hover {
            background-color: hsla(0, 0%, 100%, .34);
            font-weight: bold;
        }
    }

    .enter-new-column {
        width: 250px;
        background-color: $column-bg-color;
        margin-left: $gap;
        line-height: 32px;
        padding: 4px 10px 4px 10px;
        border-radius: $column-border-radius;

        .input-enter-new-column {
            margin: 5px 0;
        }

        .cancel-new-column {
            margin-left: $gap;
            cursor: pointer;
            transform: translateY(3px);
            display: inline-block;

            i {
                font-size: 18px;
                color: $alert-danger;

                &:hover {
                    color: darken($alert-danger, 10);
                    cursor: pointer;
                }
            }


        }
    }
}